*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.social-media-links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.links{
    display: flex;
}


.links a {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    margin: 1.5rem;
    background: #000;
    text-align: center;
    line-height: 70px;
    font-size: 1.7rem;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
}
/* for small icon u can use this  */
/* .links a {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    margin: 0.5rem;
    background: #000;
    text-align: center;
    line-height: 49px;
    font-size: 1.7rem;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
} */

.links a:nth-child(1){
    background: #1da1f2;
}
.links a:nth-child(2){
    background: #4267B2;
}
.links a:nth-child(3){
    background:#dd2a7b;
}
.links a:nth-child(4){
    background: #ff0000;
}
.links a::before{
    content: '';
    position: absolute;
    top: -70%;
    left: -60%;
    width: 50px;
    height: 170px;
    background: linear-gradient(90deg,transparent,rgba(255,255,255,5));
    transform: skewX(-20deg);

}
.links a:hover::before{
animation: shine 8s linear forwards;
}
@keyframes shine{
    0%{
        transform: translateX(0)skewX(-20deg);
    }
    100%{
        transform: translateX(160px)skewX(-20deg);
    }
}
